<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8'>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <title>insta485</title>
    <link href="{{url_for('static',filename='images/logo.png')}}" rel="icon" type="image/jpeg" />
    <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="header">
      <a href="/">
        <img src="{{url_for('static',filename='images/logo.png')}}" alt="logo1" class="logo camera" />
        <img src="{{url_for('static',filename='images/insta485.png')}}" alt="logo2" class="logo" />
      </a>
      <div class="header-right">
        <a href="/explore/" class="explore-right">explore</a>
        <a href="/u/{{logname}}/">{{logname}}</a>
      </div>
    </div>

    <h1>Followers</h1>

    {% for follower in followers %}
    <div class="follower">
      <img src="{{follower.user_img_url}}" alt="{{follower.username}}" class="propic follower-left follower-pic" />
      <a href="/u/{{follower.username}}/" class="post-header follower-left">
        <strong class="u-slug">{{follower.username}}</strong>
      </a>
      {% if logname != follower.username %}
      <p class="follower-right">{{"not " if not follower.logname_follows_username}}following</p>
      {% if not follower.logname_follows_username %}
      <form class="follower-right" action="" method="post" enctype="multipart/form-data">
        <input type="submit" name="follow" value="follow"/>
        <input type="hidden" name="username" value="{{follower.username}}"/>
      </form>
      {% else %}
      <form class="follower-right" action="" method="post" enctype="multipart/form-data">
        <input type="submit" name="unfollow" value="unfollow"/>
        <input type="hidden" name="username" value="{{follower.username}}"/>
      </form>
      {% endif %}
      {% endif %}
    </div>
    {% endfor %}

  </body>
</html>
