<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8'>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <title>insta485</title>
    <link href="{{url_for('static',filename='images/logo.png')}}" rel="icon" type="image/jpeg" />
    <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="header">
      <a href="/">
        <img src="{{url_for('static',filename='images/logo.png')}}" alt="logo1" class="logo camera" />
        <img src="{{url_for('static',filename='images/insta485.png')}}" alt="logo2" class="logo" />
      </a>
      <div class="header-right">
        <a href="/explore/" class="explore-right">explore</a>
        <a href="/u/{{logname}}/">{{logname}}</a>
      </div>
    </div>

    <div class="post">
      <div class="post-template-img-div">
        <img class="post-template-img" src="{{img_url}}" alt="post" />
      </div>
      <div class="comments-right">
        <a href="/u/{{owner}}/" class="post-header">
          <img src="{{owner_img_url}}" alt="{{owner}}" class="propic" />
          <strong class="u-slug">{{owner}}</strong>
        </a>
        <div class="post-header-right">
          <a href="/p/{{postid}}/" class="timestamp">{{timestamp}}</a>
        </div>
        <p class="post-likes">{{likes|string + " like" if likes == 1 else likes|string + " likes"}}</p>
        {% for comment in comments %}
        <div>
          <p class="comments-post"><a href="/u/{{comment.owner}}/" class="comment-u"><strong>{{comment.owner}} </strong></a>{{comment.text}}</p>
          {% if comment.owner == logname %}
          <form class="comments-post" action="" method="post" enctype="multipart/form-data">
            <input type="hidden" name="commentid" value="{{comment.commentid}}"/>
            <input type="submit" name="uncomment" value="delete"/>
          </form>
          {% endif %}
        </div>
        {% endfor %}
        {% if not logname_liked %}
        <form class="comments-post" action="" method="post" enctype="multipart/form-data">
          <input type="hidden" name="postid" value="{{postid}}"/>
          <input type="submit" name="like" value="like"/>
        </form>
        {% else %}
        <form class="comments-post" action="" method="post" enctype="multipart/form-data">
          <input type="hidden" name="postid" value="{{postid}}"/>
          <input type="submit" name="unlike" value="unlike"/>
        </form>
        {% endif %}
        <form class="comments-post" action="" method="post" enctype="multipart/form-data">
          <input type="hidden" name="postid" value="{{postid}}"/>
          <input type="text" name="text"/>
          <input type="submit" name="comment" value="comment"/>
        </form>
        {% if owner == logname %}
        <form class="comments-post" action="" method="post" enctype="multipart/form-data">
          <input type="hidden" name="postid" value="{{postid}}"/>
          <input type="submit" name="delete" value="delete this post"/>
        </form>
        {% endif %}
      </div>
    </div>

  </body>
</html>
