body {
  padding: 0px 25px 0px 25px;
}

h1 {
  font-size: 3.5em;
}

table {
  width:100%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
  text-align: left;
  font-size: 2.5em;
}

tr:nth-child(even) {
  background-color: #eee;
}

tr:nth-child(odd) {
 background-color: #fff;
}

th {
  background-color: black;
  color: white;
}

i.inc {
  border: solid green;
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

i.dec {
  border: solid red;
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

i.none {
  border: solid red;
  border-width: 0 0 0 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

td.inc {
  color: green;
}

td.dec {
  color: red;
}

td.none {
  color: black;
}

#gamepackage-passing, #gamepackage-rushing, #gamepackage-receiving {
  width: 100%;
}

.column-one, .column-two {
  width: 100% !important;
}

#gamepackage-passing > .row-wrapper > .col, #gamepackage-rushing > .row-wrapper > .col, #gamepackage-receiving > .row-wrapper > .col {
  width: 49% !important;
  display: inline-block;
}

.team-name {
  font-size: 2.5em;
}

.mod-data {
  font-size: .8em;
}

img {
  width: 50px !important;
  height: 50px !important;
}
